DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mvppir?schema=public"
PORT=3333
NODE_ENV=development

# Authentication
AUTH_SECRET="your-secret-key-here-at-least-32-chars-long-please-change-this"
API_BASE_URL="http://localhost:3333"
FRONTEND_URL="http://localhost:3000"
