# Nixpacks Configuration for Railway
# https://nixpacks.com/docs/configuration

[variables]
NODE_ENV = "production"

[phases.setup]
nixPkgs = ["nodejs", "pnpm"]

[phases.install]
cmds = ["pnpm install"]

[phases.build]
cmds = ["pnpm build"]

[start]
cmd = "pnpm start"
